/* Colors for background gradient */

$firstColor: hsl(273, 75%, 66%);
$secoundColor: hsl(240, 73%, 65%);

/* Main element color background */

$mainBackground: #ffffff;

/* Text colors */

$primaryTextColor: hsl(237, 12%, 33%);
$secoundTextColor: hsl(238, 29%, 16%);
$hoverTextColor: hsl(14, 88%, 65%);
$hiddenTextColor: hsl(240, 6%, 50%);

/* Other colors */

$dividersColor: hsl(240, 5%, 91%);

/* Font style */

$primaryFont: 'Kumbh Sans', sans-serif;
