/* Colors for background gradient */
/* Main element color background */
/* Text colors */
/* Other colors */
/* Font style */
/* STYLES */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  position: relative;
  min-height: 100vh;
  height: 100vh;
  width: auto;
  padding-top: 3.5rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#af67e9), to(#6565e7));
  background-image: linear-gradient(#af67e9, #6565e7);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Kumbh Sans', sans-serfi;
}

.main {
  position: relative;
  width: 70%;
  height: 75%;
  background-color: #ffffff;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__images-desktop {
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.main__images-mobile {
  display: none;
}

.main__box {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
  width: 20%;
  height: auto;
  z-index: 99;
}

.main__woman-desktop {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 2;
  right: 19%;
}

.main__pattern-desktop {
  position: absolute;
  width: 200%;
  height: auto;
  right: 19%;
  -webkit-transform: translateY(-7%);
          transform: translateY(-7%);
}

.main__faq {
  padding-top: 10%;
  padding-bottom: 1rem;
  padding-left: 0;
  padding-right: 2rem;
  width: 50%;
  max-height: 100%;
}

.main__header {
  font-weight: 700;
  font-size: 200%;
  height: 15%;
  color: #1d1e35;
}

.main__questions-container {
  list-style-type: none;
  color: #4a4b5e;
  max-height: 85%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.main__questions-container::-webkit-scrollbar {
  display: none;
}

.main__question-container {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.main__question:hover {
  cursor: pointer;
  color: #f47c57;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.main__arrow {
  margin-left: 0.5rem;
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.main__answer-container {
  border-bottom: 1px solid #e7e7e9;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s linear;
  transition: max-height 0.2s linear;
}

.main__answer {
  margin: 1rem 0;
  font-size: 90%;
  line-height: 1.25rem;
  color: #787887;
}

/* MEDIA QUERIES FOR MOBILE VERSION */
@media only screen and (max-width: 520px) {
  .body {
    height: 100%;
    min-height: 100vh;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
    margin-top: 5rem;
  }
  .main__images-desktop {
    display: none;
  }
  .main__images-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: relative;
  }
  .main__woman-mobile {
    position: absolute;
    right: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .main__box {
    display: none;
  }
  .main__faq {
    width: 100%;
    padding: 3rem 1.5rem;
    margin-top: 0;
  }
  .main__header {
    text-align: center;
  }
}

/* ATTRIBUTION FOOTER */
.attribution {
  margin: 1.75rem 0;
  line-height: 1.5rem;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */