@import '_vars.scss'; // --> IMPORTING VARIABLES 

/* STYLES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
   position: relative;
   min-height: 100vh;
   height: 100%;
   width: auto;
   padding-top: 3.5rem;
   background-image: linear-gradient($firstColor, $secoundColor);
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-family: 'Kumbh Sans', sans-serfi;
}

.main {
    position: relative;
    width: 70%;
    background-color: $mainBackground;
    border-radius: 15px;
    display: flex;


    &__images-desktop {
        width: 50%;
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    &__images-mobile {
        display: none;
    }

    &__box {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-50%, -25%);
        width: 20%;
        height: auto;
        z-index: 99;
    }

    &__woman-desktop {
        position: absolute;
        width: 100%;
        height: auto;
        z-index: 2;
        right: 19%;
    }

    &__pattern-desktop {
        position: absolute;
        width: 200%;
        height: auto;
        right: 19%;
        transform: translateY(-7%);
    }

    &__faq {
        padding: 5rem 2rem;
        padding-left: 0;
        width: 50%;
    }

    &__header {
        font-weight: 700;
        font-size: 200%;
        color: $secoundTextColor;
        margin-bottom: 2.25rem;
    }

    &__questions-container {
        list-style-type: none;
        color: $primaryTextColor;
    }

    &__question-container {
        margin: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: color 0.2s linear;
    }

    &__question:hover {
        cursor: pointer;
            color: $hoverTextColor;
            transition: color 0.2s linear;
    }

    &__arrow {
        margin-left: 0.5rem;
        transition: transform 0.2s linear;
    }

    &__answer-container {
        border-bottom: 1px solid $dividersColor;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s linear;
    }

    &__answer {
        margin: 1rem 0;
        font-size: 90%;
        line-height: 1.25rem;
        color: $hiddenTextColor;
    }
}

/* MEDIA QUERIES FOR MOBILE VERSION */

@media only screen and (max-width: 560px) {
    .body {
        height: 100%;
        min-height: 100vh;
    }

    .main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin-top: 5rem;

        &__images-desktop {
            display: none;
        }

        &__images-mobile {
            display: flex;
            align-items: flex-start;
            position: relative;
        }

        &__woman-mobile {
            position: absolute;
            right: 0;
            transform: translateY(-50%);
        }

        &__box {
            display: none;
        }

        &__faq {
            width: 100%;
            padding: 3rem 1.5rem;
        }

        &__header {
            text-align: center;
        }
    }

}

/* ATTRIBUTION FOOTER */

.attribution {
    margin: 1.75rem 0;
    line-height: 1.5rem;
    text-align: center;
}


